.redondeado
{
    border-radius: 5px;
    border-color: cornflowerblue;
    border-width: 2px;
}

p
{
    color: darkgray;
    text-align: center;
    font-size: 40px;
}

.boton
{
    font-size: 10px;
    font-family: Verdana, Helvetica;
    font-weight: bold;
    color: white;
    background: darkseagreen;
    border : 0px;
    width: 190px;
    height: 30px;
}